
<h1><%=logged_user?('title') %></h1>

<div> 
  <h3>Events created by <%= logged_user?('list') %></h3>

  <%= render 'upcoming_created_events' %>
  <%= render 'previous_created_events' %>

  <h3>Events attended by <%= logged_user?('list') %></h3>
  <%= render 'upcoming_attended_events' %>
  <%= render 'previous_attended_events' %>

</div>
<div>
<%#= events_attended%>
</div>

<div>See more awesome events 
<%= link_to "here", controller: 'events' %>
</div> 