<h1>Welcome <%= current_user.username %></h1>

<div class="flex flex-column">
  <div>Create a new event  <%= link_to "here", new_event_path %></div>
  <div>See more awesome events <%= link_to "here", controller: 'events' %></div>
</div>

<div class="events">
  <div class="events-created">
    <h3>
      MY CREATED EVENTS
    </h3>

    <%= user_created_events %>
  </div>
  <div class="events-created">
    <h3>
      EVENTS I'M GOING TO ATTEND
    </h3>

    <%= user_created_events %>
  </div>
</div>