<h1>Welcome <%= current_user.username %></h1>
<%= link_to  "Create a new event", new_event_path %>

<div> 
  <h3>Events created by you</h3>
  <h5><%= upcoming_created? %></h5>
  <ul>
  <% @upcoming_created.each do |event| %>
    <li><%= event.description %> </li>
  <% end %>
  </ul>
  <h5><%= previous_created? %></h5>
  <ul>
  <% @previous_created.each do |event| %>
    <li><%= event.description %> </li>
  <% end %>
  </ul>
  <h3>Events attended by you</h3>
  <h5><%= upcoming? %></h5>
  <ul>
  <% @upcoming.each do |event| %>
    <li><%= event.description %> </li>
  <% end %>
  </ul>
  <h5><%= previous? %></h5>
 <ul>
  <% @previous.each do |event| %>
    <li><%= event.description %> </li>
  <% end %>
  </ul>
 

</div>
<div>
<%#= events_attended%>
</div>

<div>See more awesome events 
<%= link_to "here", controller: 'events' %>
</div> 