<h1>Create a new awesome EVENT</h1>

<% if @event.errors.any? %>
 <div id="error_explanation">
   <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

   <ul>
   <% @event.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>
   <% end %>
   </ul>
 </div>
<% end %>

<%= form_for @event do |f| %>
   <%= f.label :date, value: 'Date: ' %>
   <%= f.datetime_select :date,  prompt: {day: 'Day', month: 'Month', 
                                          year: 'Year', hour: 'Hour', 
                                          minute: 'Minute' } %><br><br>
   <%= f.submit "Create" %>
<% end %>