<h1>Create a new awesome EVENT</h1>

<% if @event.errors.any? %>
 <div id="error_explanation">
   <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

   <ul>
   <% @event.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>
   <% end %>
   </ul>
 </div>
<% end %>

<%= form_for @event do |f| %>
   <%= f.label :title, value: 'Title: '%>
   <%= f.text_field :title %><br>
   <%= f.label :description, value: 'Event description: '%>
   <%= f.text_field :description %><br>
   <%= f.label :location, value: 'Location: '%>
   <%= f.text_field :location %><br>
   <%= f.label :date, value: 'Date: ' %>
   <%= f.date_field :date, min: Date.new(2000, 01, 01), max: Date.new(2050, 12, 31) %><br>
   <%= label_tag 'Time: ' %>
   <%= time_field_tag 'date_time' %><br>
   <%= f.label :accessibility, value: 'Make this event private: '%>
   <%= f.check_box :accessibility %><br><br>
   <%= f.submit "Create" %>
<% end %>