<h1> <%= @event.description%> </h1>
<p>Date:<%=@event.date%></p>
<p>Created by: <%= @event.creator.username %></p>

<%= form_for(@event, url: events_attend_to_event_url, method: :post  ) do |f| %>
  <%= f.hidden_field :id %>
  <%= f.submit "Attend" %>
<% end %>

<h3>
<%= have_attendees? %>
</h3>

<ul>
  <% @attendees_members.each do |attendee| %>
    <li>
      <%= attendee.username %>
    </li>
  <% end %>
</ul>