<h1> <%= @event.description%> </h1>
<p>Date:<%=@event.date%></p>
<p>Created by: <%= @event.creator.username %></p>
<h3>
<%= have_attendees? %>
</h3>

<ul>
  <% @attendees_members.each do |attendee| %>
    <li>
      <%= attendee.username %>
    </li>
  <% end %>
</ul>